@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

$font-size: 10px;
$font-family: "Outfit", sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
